<%= link_to 'Play Again', '/' %>
</br>
</br>
<strong>Your Guess</strong>
<table>
	<tbody>
		<tr>
			<td>Start</td>
			<td><%= @startWord %></td>
		</tr>
		<tr>
			<td>Step 1:</td>
			<td><%= @words[0] %></td>
		</tr>
		<tr>
			<td>Step 2:</td>
			<td><%= @words[1] %></td>
		</tr>
		<tr>
			<td>Step 3:</td>
			<td><%= @words[2] %></td>
		</tr>
		<tr>
			<td>Step 4:</td>
			<td><%= @words[3] %></td>
		</tr>
		<tr>
			<td>Step 5:</td>
			<td><%= @words[4] %></td>
		</tr>
		<tr>
			<td>End:</td>
			<td><%= @goalWord %>
		</tr>
	</tbody>
</table>
