<div class="row">
    <div class="col-xs-12">
        <div class="centered">
            <div class="row">
                <h1>Topics <%= link_to 'New Topic', new_topic_path(), :class => "btn btn-info" %></h1>
                <% @Topics.each do |topic| %>
                    <div class="topic col-xs-12">
                        <div class="col-xs-8"><%= topic.title %>: <%= topic.description %></div>
                        <div class="col-xs-4">
                            <%= link_to 'View', topic_path(topic), html_options = {:class => "btn btn-primary" } %>
                            <%= link_to 'Edit', edit_topic_path(topic), html_options = {:class => "btn btn-warning"} %>
                            <%= link_to 'Delete', topic_path(topic), :class => "btn btn-danger", method: :delete %>
                        </div>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
</div>