<div class="row">
    <div class="col-xs-12">
        <div class="centered">
            <h1>Create a new topic</h1>
            <div class="col-xs-12">
                <%= form_for :topic, url: topics_path do |t| %>
                    <div class="form-group">
                        <div class="col-xs-4 text-right"><%= t.label :title %></div>
                        <div class="col-xs-8"><%= t.text_field :title, :class => "form-control" %></div>
                    </div>
                    </br>
                    <div class="form-group">
                        <div class="col-xs-4 text-right"><%= t.label :description %></div>
                        <div class="col-xs-8"><%= t.text_area :description, :class => "form-control" %></div>
                    </div>
                    </br>
                    <%= t.submit "Save", :class => "btn btn-primary" %>
                <% end %>
            </div>
        </div>
    </div>
</div>