<div class="row">
    <div class="col-xs-12">
        <div class="centered">
            <div class="col-xs-12">
                <h1><%= @topic.title %> <%= link_to 'New Reference', new_topic_reference_path(@topic.id), :class => "btn btn-info" %></h1>
            </div>
            <div class="col-xs-12">
                <p><%= @topic.description %></p>
            </div>
            <div class="col-xs-12"><h3>References</h3></div>
            <div class="col-xs-12">
            <% @references.each do |ref| %>
                <div class="col-xs-6">
                    <a href="http://<%= ref.url %>" target="_blank"><%= ref.url %></a>
                </div>
                <div class="col-xs-4">
                    <%= ref.created_at %>
                </div>
                <div class="col-s-2">
                    <%= link_to "Delete", topic_reference_path(@topic.id, ref.id), :confirm => "Are you sure?", :method => :delete, :class => "btn btn-danger" %>
                </div>
            <% end %>
            </div>
        </div>
    </div>
</div>